/* Button */
.btn.upload-btn                 { margin-bottom: 10px; }
.btn.remove-btn                 { position: absolute; top: 20px; right: 20px; z-index: 2; }

/* Crop Wrapper */
.crop-preview                   { position: relative; display: block; padding: 15px; background: #EFEFEF; user-select: none; }
.crop-preview img               { display: block; width: 100%; }
.crop-preview:not(.no-img) p    { margin-bottom: 10px; }
.crop-preview.no-img .remove-btn,
.crop-preview.no-img img        { display: none; }

/* Crop Preview Overlay */
.crop-inner                     { position: relative; overflow: hidden; }
.crop-overlay                   { position: absolute; border: 1px solid rgba(255,255,255,0.9); box-shadow: 0 0 2000px 2000px rgba(0,0,0,.4); cursor: move; will-change: width, height, left, right; }
.crop-overlay .corner,
.crop-overlay .side             { position: inherit; background: rgba(255,255,255,.4); }
.crop-overlay .side:nth-of-type(1),
.crop-overlay .side:nth-of-type(3) { left: 0; right: 0; height: 10px; cursor: ns-resize; }
.crop-overlay .side:nth-of-type(1) { top: -5px; }
.crop-overlay .side:nth-of-type(3) { bottom: -5px; }
.crop-overlay .side:nth-of-type(2),
.crop-overlay .side:nth-of-type(4) { top: 0; bottom: 0; width: 10px; cursor: ew-resize; }
.crop-overlay .side:nth-of-type(2) { right: -5px; }
.crop-overlay .side:nth-of-type(4) { left: -5px; }
.crop-overlay .corner           { width: 20px; height: 20px; }
.crop-overlay .corner:nth-of-type(5),
.crop-overlay .corner:nth-of-type(7) { cursor: nw-resize; }
.crop-overlay .corner:nth-of-type(6),
.crop-overlay .corner:nth-of-type(8) { cursor: sw-resize; }
.crop-overlay .corner:nth-of-type(5),
.crop-overlay .corner:nth-of-type(8) { left: -10px; }
.crop-overlay .corner:nth-of-type(5),
.crop-overlay .corner:nth-of-type(6) { top: -10px; }
.crop-overlay .corner:nth-of-type(6),
.crop-overlay .corner:nth-of-type(7) { right: -10px; }
.crop-overlay .corner:nth-of-type(7),
.crop-overlay .corner:nth-of-type(8) { bottom: -10px; }
