/* Button */
.btn.upload-btn     { margin-bottom: 10px; }
.btn.remove-btn     { position: absolute; top: 20px; right: 20px; z-index: 2; }

/* Image */
.crop-preview       { position: relative; padding: 15px; background: #EFEFEF; }
.crop-preview img   { width: 100%; }
.crop-preview:not(.no-img) p    { margin-bottom: 10px; }
.crop-preview.no-img .remove-btn,
.crop-preview.no-img img        { display: none; }

/* Overlay */
.crop-inner         { position: relative; overflow: hidden; }
.crop-overlay       { position: absolute; border: 1px solid rgba(255,255,255,0.75); box-shadow: 0 0 2000px 2000px rgba(0,0,0,.4); }
.crop-overlay .side { position: inherit; background: rgba(255,255,255,.25); }
.crop-overlay .side:nth-of-type(1),
.crop-overlay .side:nth-of-type(3) { left: -7px; right: -7px; height: 14px; }
.crop-overlay .side:nth-of-type(1) { top: -7px; }
.crop-overlay .side:nth-of-type(3) { bottom: -7px; }
.crop-overlay .side:nth-of-type(2),
.crop-overlay .side:nth-of-type(4) { top: -7px; bottom: -7px; width: 14px; }
.crop-overlay .side:nth-of-type(2) { right: -7px; }
.crop-overlay .side:nth-of-type(4) { left: -7px; }
.crop-overlay .side { position: inherit; }
