.DS_Store
*.esproj
*.codekit*
.vscode/*
.remote-sync.json
sftp-config.json
sftp-config-alt.json

error_log
yarn-error.log
/node_modules/

/images/*
/files/*
/admin/orders/logs/*

*.scssc
*.css.map
*.scssc