/* HTML RESET */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;box-sizing:border-box}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#FF9;color:#000;text-decoration:none}mark{background-color:#FF9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #CCC;margin:1em 0;padding:0}input,select{vertical-align:middle}



/* STYLE */
html, body                      { min-height: 100vh; color: #363636; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.4; }
h1                              { font-size: 3em; }
h2                              { font-size: 2.5em; }
h3                              { font-size: 2em; }
p a                             { font-weight: 700; }
a                               { color: #00B5DC; }
a:hover                         { color: #0090B1; }
a:hover                         { color: #1DC8EE; }
.hidden                         { display: none; }
.btn                            { margin: 0; padding: 1em 25px; background: none; border: none; font-weight: 700; text-transform: uppercase; border-radius: 4px; cursor: pointer; }

/* PAGE LAYOUT */
.wrapper                        { display: grid; min-height: 100vh; grid-row-gap: 30px; grid-template-areas: 'lh head rh' 'lb cont rb'; grid-template-columns: 5% auto 5%; grid-template-rows: auto 1fr; }
.header                         { grid-area: head; padding: 30px 0; border-bottom: 1px solid #C0C0C0; }
.main-content                   { grid-area: cont; display: grid; grid-gap: 30px 5%; grid-template-areas: 'h h' 'image preview'; grid-template-columns: 50% 50%; justify-items: start; align-items: end; align-self: start; margin-bottom: 100px; }
.main-content .sub-heading      { grid-area: h; }
#crop1                          { grid-area: image; }
#preview1                       { grid-area: preview; }

/* MODAL */
.btn.open-modal                 { background: #191970; color: white; align-self: start; }
.btn.open-modal:hover           { background: #262699; }
.btn.open-modal:active          { background: #11115F; }
.overlay:not(.open), .modal:not(.open) { opacity: 0; pointer-events: none; }
.overlay                        { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.2); }
.modal                          { position: absolute; max-width: 900px; width: 60vh; min-height: 300px; margin: 0 auto; left: 0; right: 0; padding: 30px; background: white; border-radius: 8px; }



/* MOBILE OPT */
@media screen and (max-width: 640px) {
    .wrapper                    { padding: 0 4%; grid-template-columns: 1fr; grid-template-areas: 'head' 'cont'; }
    .main-content               { grid-template-columns: 1fr; grid-template-areas: 'h' 'image' 'preview'; }
}
